{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "transform-flow-strip-types",
    "babel-plugin-styled-components"
  ]
}
