{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./src/components",
          "images": "./src/images",
          "js": "./src/js",
          "styles": "./src/styles",
          "utils": "./src/utils",
          "templates": "./src/templates"
        }
      }
    ],
    "add-module-exports",
    "transform-flow-strip-types",
  ]
}
