{
  "extends": ["react-app"],
  "plugins": ["react-hooks"],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "__PREFIX_LINKS__": true,
    "importScripts": true,
    "FB": true,
    "define": true,
    "searchUtil": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
